
body{
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Roboto', sans-serif;

}

nav a {
    background: #1E90FF;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

header, footer {
    padding-left: 5%;
    background-color: #B0C4DE;
    color: white;
    text-decoration: none;
  }

.tim img{
  border-radius: 50%;
}

.tim p{
  margin-right: 5%;
}

.tim{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
